.footerRow {
  background:#869f83;
  color:white;
  padding:0px 30px !important;
}

.footerContent {
  font-size:12px !important;
  position:relative;
}

 #email {
  margin-top:15px
}

 #links {
  margin-top:15px
}
